body {
    background-color: lightgray;
}

.img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.img1{
    background-image: url(../imgs/1.png);
}
.img2{
    background-image: url(../imgs/arrow.png);
}
.img3{
    background-image: url(../imgs/qrcode.png);
}